<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhc.yunxian.dao.DragonAddrDao">
  <resultMap id="BaseResultMap" type="com.mhc.yunxian.dao.model.DragonAddr">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="detail_addr" jdbcType="VARCHAR" property="detailAddr" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, create_time, `name`, addr, longitude, latitude,detail_addr,deleted
  </sql>
  <select id="selectAllAddrByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_dragon_addr
    where openid = #{openid,jdbcType=VARCHAR}
    order by id desc
  </select>

  <select id="selectByDragonNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_dragon_addr
    where 	id IN ( SELECT addr_id FROM tbl_addr_to_dragon WHERE dragon_num = #{dragonNum,jdbcType=VARCHAR} )
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    SELECT * FROM  tbl_dragon_addr
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_dragon_addr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.mhc.yunxian.dao.model.DragonAddr">
    insert into tbl_dragon_addr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="detailAddr != null">
        detail_addr,
      </if>
      <if test="deleted != null">
        deleted
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="detailAddr != null">
        #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mhc.yunxian.dao.model.DragonAddr">
    update tbl_dragon_addr
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="detailAddr != null">
        detail_addr = #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllAndOrderByCreateTimeDesc" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_dragon_addr
    where openid = #{openid,jdbcType=VARCHAR}
    order by create_time desc
  </select>
</mapper>