<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mhc.yunxian.dao.PartyInfoDao" >
  <resultMap id="BaseResultMap" type="com.mhc.yunxian.dao.model.PartInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="dragon_num" property="dragonNum" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="prepay_id" property="prepayId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, dragon_num, user_type, form_id, prepay_id, update_time, create_time, order_num
  </sql>


  <select id="selectByOrderNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_party_info
    where order_num = #{orderNum,jdbcType=VARCHAR}
  </select>

  <select id="existPartyByOrderNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    count(*)
    from tbl_party_info
    where order_num = #{orderNum,jdbcType=VARCHAR}
  </select>


  <select id="selectParty" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_party_info
    where dragon_num = #{dragonNum,jdbcType=VARCHAR}
  </select>


  <insert id="insertParty" parameterType="com.mhc.yunxian.dao.model.PartInfo" >
    insert into tbl_party_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="dragonNum != null" >
        dragon_num,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="prepayId != null" >
        prepay_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="dragonNum != null" >
        #{dragonNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null" >
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updatePartyByOrderNum" parameterType="com.mhc.yunxian.dao.model.PartInfo" >
    update tbl_party_info
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="dragonNum != null" >
        dragon_num = #{dragonNum,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null" >
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_num = #{orderNum,jdbcType=VARCHAR}
  </update>

  <update id="updatePartyById" parameterType="com.mhc.yunxian.dao.model.PartInfo" >
    update tbl_party_info
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="dragonNum != null" >
        dragon_num = #{dragonNum,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null" >
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>